<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <b>LOGIN</b>
    </div>
    <div class="card-body">
      <label>Email</label>
      <input class="form-control" type="email" placeholder="your email" [(ngModel)]="user.email">
      <label>Password</label>
      <input class="form-control"  type="password" placeholder="your password"[(ngModel)]="user.password">
      <button class="btn btn-primary btn-block"(click) = "Login()">Login</button>
      <label> Do not have an account? <a href="#">Sign up</a></label>
  </div>
</div>
  